*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
}

#s1{
    min-height: 100vh;
    height: auto;
}

#s2{
    min-height: 100vh;
    height: auto;
}

#s3{
    min-height: 100vh;
    height: auto;
}